* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #093341;
}

li{
    list-style: none;
    color: grey;
}

/* Container verifica password */
div.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* "CARD" verifica password */
div.my_div-container {
    height: 350px;
    width: 700px;
    border-radius: 0.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #093341;
    margin-bottom: 3rem;
}

input{
    margin-bottom: 1.5rem;
    width: 500px;
    height: 45px;
    border-radius: .5rem;
    border: solid rgb(190, 190, 190) 1px;
}

/* Classi dinamiche per javascript */
.grey{
    color: grey;
}

.green{
    color: #58de28;
}

/* Classi dinamiche per javascript avanzamento della progress bar */

#progress-bar-container{
    margin-top: 2rem;
    width: 90%;
    background-color: grey;
    border-radius: 5px;
}

#progress-bar{
    width: 0%;
    height: 30px;
    background-color: #58de28;
    border-radius: 5px;
}